{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/igorilic/rust-npm-package.git"
  },
  "author": "Igor Ilic <ilicigor@outlook.com>",
  "homepage": "https://github.com/igorilic/rust-npm-package#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
